# Rust build artifacts
/target
**/Cargo.lock

# Trunk build output
front-end/dist

# Node modules
node_modules

# VSCode settings
.vscode/

# Environment variables
.env

# Other Files
workspace_log.md